@font-face {
  font-family: "fuentemk4";
  src: url("../styles/Fuentemk4.ttf") format("truetype");
}
table {
    margin: auto;
}
td {
    padding: 10px;
    position:absolute;
    right: 380px;
    top: 110px;
}
th {
    font-size: 19px;
}
.instructions-list {
    margin-left: 150px;
}
h1 {
    text-align: center;
}
canvas {
    border: 3px solid white;
    border-radius: 5px;
}
/*.TituloMortal {
   background-image: url("../images/logo.png");
    width: 158px;
    height: 59px;
    left: 20px;
    top: 30;
    background-position: center;
}*/
#titulomortal{
    width: 350px;
    height: px;
    position:absolute;
    left: 500px;
    display: block;
}
#fight{
    position: absolute;
    display: none;
    top: 160px;
    left: 230px;
}
#movementjs-main-canvas {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    position: static !important;
    width: 600px;
    height: 400px;
    background-color: #777;
}
body, html {
    background-color: black;
    color: #fff;
    font-family: Verdana;
    font-size: 12px;
}
#parent {
    width: 600px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    /*display: none;*/
}
#arena {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}
#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#Round1 {
    width: 40%;
    height: 10%;
    position: absolute;
    display: none;
    top: 160px;
    left: 230px;
}
#Round2 {
    width: 40%;
    height: 10%;
    position: absolute;
    display: inline;
    top: 160px;
    left: 230px;
    display: none;
}
#Round3 {
    width: 40%;
    height: 10%;
    position: absolute;
    display: inline;
    top: 160px;
    left: 230px;
    display: none;
}
#Winner {
    width: 40%;
    height: 10%;
    position: absolute;
    display: inline;
    top: 160px;
    left: 230px;
    display: none;
}
#mensaje {
    width: 100%;
    height: 6%;
    font-size: 27px;
}
.Round {
    font-family: "fuentemk4";
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    position: center;
    left: 320px;
    top: 150px;
}

.lifebar {
    width: 168px;
    height: 16px;
    background-color: red;
    position: absolute;
    background-image: url("../images/lifebar.gif");
}
/*.diseñovida{
    background-image: url("../images/lifebar.gif");
}*/
#player1LifeBar {
    left: 20px;
    top: 30px;
    /*border-bottom-right-radius: 15px;*/
}
#player1LifeBar .life
{
    /*border-bottom-right-radius: 15px;*/
     position:absolute;
    left:4px;
    top:3px;
    float: left;
}
    
#player2LifeBar {
    right: 20px;
    top: 30px;
   /* border-bottom-left-radius: 15px;*/
}
#player2LifeBar .life
{
    /*border-bottom-left-radius: 15px;*/
    position:absolute;
    left:4px;
    top:3px;
    float:right;
}
.playerName {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: "Fuentemk4";
    font-size: 20px;
    position: absolute;
}
#player1Name {
    left: 30px;
    top: 10px;
}
#player2Name {
    right: 30px;
    top: 10px;
}
.life {
    width: 160px;
    height: 10px;
    background-color: #3CD400;
}
#utils {
    visibility: hidden;
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.manual {
    width: 600px;
    margin: auto;
    color: #fff;
    font-family: Verdana;
    margin-top: 15px;
    font-size: 14px;
}
.manual > div {
    margin-left: 150px;
}
.manual a {
    color: #fff;
}
.github {
    position: fixed;
    top: 0px;
    right: 0px;
    background-image: url(../images/github.png);
    width: 149px;
    height: 149px;
    cursor: pointer;
}
.formContainer {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loadingLabel {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 220px;
    top: 150px;
}



/************Pequeños agregados***************/
.Fighter{
    width: 48px;
    height: 59px;
    background-color: red;
}
#FighterScorpion{
    top: 35px;
    left: 20px;
    position: absolute;
    background-image: url(../images/profiles/scorpion.gif);
}
#FighterKano{
    top: 35px;
    left: 79px;
    position:absolute;
    background-image: url(../images/profiles/kano.gif);
}
#FighterSubzero{
    top: 35px;
    left: 129px;
    position: absolute;
    background-image: url(../images/profiles/subzero.gif);
}
#menu {
    width: 290px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    left : 30px;
    top: 100px;
    display:block;
}
